.solid {
    border-bottom: 3px solid #bbb;
  }

  .form-inputs {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    margin: auto;

  }

  .form-button {
    padding: 1rem;
  }

.input-Fields{

  padding: .4rem;
  margin: auto;

}

.btn-btn {
  padding: .4rem;
  margin: auto;

}