.modal {
  /* display: none;  */
  position: fixed; 
  z-index: 1; 
  padding-top: 80px; 
  left: 0;
  top: 0;
  width: 100%; 
  max-width: 100%;
  min-width: 300px;
  height: 100%; 
  overflow: auto; 
  background: rgba(0, 0, 0, 0.40);
  /* background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);  */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-top: 1rem;
  border: 1px solid #888;
  width: 50%;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 826px) {
  input {
    width: 90%;
  }
  .top, 
  .contact-info,
  .form {
    padding-left: 1rem;
  }
}