body {
     background: #F5F5F5;
}

.register-btn {
    background: #101F3C;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 400px;
        left: auto;
        right: auto;
        top: 50px;
    }
    
    h2 {
        margin-left: 1rem;
    }
    
    .button {
        margin-right: 4rem;
    }
    
    input {
        width: 100%;
    }
}