body {
    background-color: white;
    width: auto;
    height: auto;
}

.cards {
    width: 65rem;
}

@media (max-width: 1686px) {
    .cards {
        width: 50rem;
    }
}

@media (max-width: 1686px) {
    .cards {
        width: 35rem;
    }

    .title {
        margin-left: 4rem;
    }
}

@media (max-width: 1174px) {
    .cards {
        width: 25rem;
    }
    .side-section {
        margin-left: 5rem;
    }
}

@media (max-width: 885px) {
    .container {
        display: block;
        margin-left: 1rem;
    }
    .top {
        margin-left: 1rem;
    }
    .cards {
        width: 30rem;
    }
    .side-section, .center, .title {
        margin-left: 3rem;
    }
    .mobile-br {
        display: block;
    }
    .center {
        margin-left: 3rem;
    }
    .pagination {
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 555px) {
    .cards {
        width: 20rem;
    }
    .profile {
        width: 140px;
        height:  140px;
    }
}